#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.section__img {
  height: 500px;
  width: auto;
  img {
    height: 100%;
  }
}

.section__profile_text {
  align-self: center;
}

@media screen and (max-width: 600px) {
#profile {
  display: block;
}
.section__img {
  height: 200px;
}
}
